<!DOCTYPE html>
<html>
<head>
    <title>AIL</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ail.css') }}" >
</head>
<body>
    <table style="width: 100%; ">
      <tr>
        <td><h2>AIL - Ayudante de Información Legal</h2> </td>
        <td style="text-align: right;">
          <form action="/reset" method="post">
            <input type="submit" value="Reinicie la conversación" />
          </form>
        </td>
      </tr>
      <tr>
        <td colspan="2" >
           <div id="chatbox" > 
             <p class="asistente"><b>AIL:</b>
                 Soy tu Ayudante de Información Legal, hazme una pregunta
                 y te responderé con los conocimientos que me han entregado.
                 La primera pregunta define la informacion que obtendré.
             </p> 
           </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" >
          <form id="chatForm" onsubmit="enviarMensaje(event)" style="width: 100%; display: flex;">
            <input type="text" style="flex-grow: 1; color:darkgreen;" 
               maxlength="160" id="inputbox" autocomplete="off" />
            <input type="submit" style="text-align: right; margin-left: 10px;" value="Preguntar" />
          </form>
        </td>
      </tr>
      <tr>
        <td colspan="2"> <div id="informacionextra" style="font-size: 10px;"> </div>
        </td>
      </tr>
    </table>
    <script>
        // Función para enviar mensajes al servidor Flask
        function enviarMensaje(event) {
            event.preventDefault();
            var mensajeUsuario = document.getElementById("inputbox").value;
            // aca esta el mensaje del usuario, capturado directo del inputbox
            // lo pone en pantalla
            agregarMensajeUsuario(mensajeUsuario);
            // aca limpia el inputbox
            document.getElementById("inputbox").value = "";
            // aca llama a la ruta /mensaje con metodo POST del servidor flask
            fetch("/mensaje", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                // al poner en body mensaje=M, hago que el request.form['mensaje'] funcione
                body: "mensaje=" + mensajeUsuario
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(respuestaChatbot) {
                agregarMensajeChatbot(respuestaChatbot);
            })
            .catch(function(error) {
                console.log("Error: " + error);
            });
        }

        // Función para agregar mensajes del usuario al chatbox
        function agregarMensajeUsuario(mensaje) {
            var chatbox = document.getElementById("chatbox");
            var mensajeHTML = '<p class="usuario"><b>Tú:</b> ';
            mensajeHTML += mensaje + '</p>';
            chatbox.innerHTML += mensajeHTML;
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        // Función para agregar mensajes del chatbot al chatbox
        function agregarMensajeChatbot(respuesta) {
            var jsonData = JSON.parse(respuesta);
            //
            var chatbox = document.getElementById("chatbox");
            var mensajeHTML = '<p class="asistente"><b>AIL:</b> ' ;
            var respuesta_texto = jsonData.mensaje;
            mensajeHTML += respuesta_texto + '</p>';
            chatbox.innerHTML += mensajeHTML;
            chatbox.scrollTop = chatbox.scrollHeight;
            //
            var informacionextra = document.getElementById("informacionextra");
            var respuesta_pc_mas_cercano = jsonData.pc_mas_cercano;
            var respuesta_contexto       = jsonData.contexto;
            var respuesta_imc            = jsonData.imc;
            var mHTML = '<p>' + respuesta_pc_mas_cercano;
            mHTML += " / " + respuesta_imc;
            mHTML += " / " + respuesta_contexto + '</p>';
            informacionextra.innerHTML = mHTML;
        }
    </script>
</body>
</html>

