<!DOCTYPE html>
<html>
<head>
    <title>AIL</title>
    <style>
      #chatbox {
         max-height: 60vh; /* Tamaño máximo del 60% de la altura de la página */
         overflow: auto; /* Mostrar barras de desplazamiento si es necesario */
         background-color: #FFFFE0; /* Amarillo claro */
      }
      p.asistente {
        color: darkblue;
        text-align: left;
      }
      p.usuario {
        color: darkgreen;
        text-align: right;
      }
      table {
        border-collapse: collapse;
      }
    
      td, th {
        padding: 8px;
      }
    </style>
</head>
<body>
    <table style="width: 100%; ">
      <tr>
        <td><h2>AIL Ayudante de Información Legal</h2> </td>
        <td style="text-align: right;">
          <form action="/reset" method="post">
            <input type="submit" value="Reinicie la conversación" />
          </form>
        </td>
      </tr>
      <tr>
        <td colspan="2" >
           <div id="chatbox" 
                style="border-radius: 5px;
                       padding: 8px; 
                       border: 1px solid lightgray;" > 
             <p class="asistente"><strong>AIL:</strong>
                 Soy tu Ayudante de Información Legal, hazme una pregunta
                 y te responderé con los conocimientos que me han entregado
             </p> 
           </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" >
          <form id="chatForm" onsubmit="enviarMensaje(event)">
            <input style="width:90%; color:darkblue; " type="text" id="inputbox" autocomplete="off" />
            <input style="text-align: right;" type="submit" value="Enviar" />
          </form>
        </td>
      </tr>
    </table>
    <script>
        // Función para enviar mensajes al servidor Flask
        function enviarMensaje(event) {
            event.preventDefault();
            var mensajeUsuario = document.getElementById("inputbox").value;
            // aca esta el mensaje del usuario, capturado directo del inputbox
            // lo pone en pantalla
            agregarMensajeUsuario(mensajeUsuario);
            // aca limpia el inputbox
            document.getElementById("inputbox").value = "";
            // aca llama a la ruta /mensaje con metodo POST del servidor flask
            fetch("/mensaje", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                // al poner en body mensaje=M, hago que el request.form['mensaje'] funcione
                body: "mensaje=" + mensajeUsuario
            })
            .then(function(response) {
                return response.text();
            })
            .then(function(respuestaChatbot) {
                agregarMensajeChatbot(respuestaChatbot);
            })
            .catch(function(error) {
                console.log("Error: " + error);
            });
        }

        // Función para agregar mensajes del usuario al chatbox
        function agregarMensajeUsuario(mensaje) {
            var chatbox = document.getElementById("chatbox");
            var mensajeHTML = '<p class="usuario"><strong>Tú:</strong> '
            mensajeHTML += mensaje + '</p>';
            chatbox.innerHTML += mensajeHTML;
            chatbox.scrollTop = chatbox.scrollHeight;
        }

        // Función para agregar mensajes del chatbot al chatbox
        function agregarMensajeChatbot(respuesta) {
            var chatbox = document.getElementById("chatbox");
            var mensajeHTML = '<p class="asistente"><strong>AIL:</strong> ' 
            mensajeHTML += respuesta + '</p>';
            chatbox.innerHTML += mensajeHTML;
            chatbox.scrollTop = chatbox.scrollHeight;
        }
    </script>
</body>
</html>

