<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Usa OPENAI GPT para mis archivos</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jmvestilos.css') }}" >
</head>
<body>
  <div class="container">
    <h2>Respuestas de OPENAI GPT basadas en mi información</h2>
    <form action="/submit" method="post">
      <p>Ingrese una pregunta y le respondere con la informacion entregada:</p>
      <p> ¿ <input type="text" name="fpregunta" size="90"> ? </p>
      <p> <input type="submit" value="Obtenga la respuesta"> </p>
      <p> <a href="..">Volver al inicio</a></p>
      <p> <a href="/logout">Salir</a></p>
    </form>
    {% if frespuesta %}
      <p><b>Pregunta realizada:</b> ¿{{ fpregunta }}?</p>
      <p><b>Respuesta:</b> {{ frespuesta }}</p>
      <hr>
      <p class="parrafos"><b>Coincidencia = </b> {{ fclosest }}</p>
      <p class="parrafos">Basado en el siguiente párrafo del archivo <b>{{ farchivo }}</b></p>
      <p class="parrafos"><b>Párrafos solos:</b> {{ fparrafo }}</p>
      <hr>
      <p class="parrafos"><b>Prompt enviado:</b> {{ fprompt }}</p>
    {% endif %}
  </div>
</body>
</html>

